extends ../0_basics/_default
block content
  .container
    .row
      .col-lg-12
        h1 Organisms
        hr
    .row
      .col-lg-12
        //- [injector:jadelinks]
        p: a(href="../3_organisms/FoodList/FoodList.html") FoodList
        p: a(href="../3_organisms/footer/footer.html") Footer
        p: a(href="../3_organisms/header/header.html") Header
        //- [endinjector]
