/**
 * @name Food
 * @description Molecule description here
 * @author Michael Seel
 * @see {@link http://github.com/documentation|Specification}
 */

.Food {
  position: relative;
  .btn {
    background: #efefef;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    &:hover {
      &:before, &:after {
        background: $brand-primary;
      }
    }
    &:before, &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #000;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
